body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #525f7f;
  background-color: #f8f9fe;
  font-family: 'Varela Round', sans-serif;

}

.bg-dark {
  background-color: transparent;
}
