#close {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.center {
  text-align:center;
}

body {
  background-color: #ffffff;
  margin: 0px;
}

table {
  width: 100%; 
  border: 1px solid black; 
  height: 40%; 
}

tr {
  height: 40px;
  background-color: #4E5066;
  color: white;
 
  
}
.rank {
  width: 40px;
}

#table {
  border-style: solid;
  border: none;
  width: 89%; 
  float: right; 
  background-color: #003366;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

#dollars {
  float: right; 
  font-size: 35px;
  margin-right: 5%;
}

#exchange {
  border-style: solid;
  display: none;
  width: 89%; 
  border: none;
  float: right; 
  background-color: #b5bcc4;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 15px;
}

#buy {
  border-style: solid;
  display: none;
  width: 89%; 
  border: none;
  float: right; 
  background-color: #b5bcc4;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 15px;
}

#wallet-table {
  border: none;
  width: 70%;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 17px ;
  vertical-align: middle;
  
}

#account {
  border-style: solid;
  display: none;
  width: 89%; 
  border: none;
  float: right; 
  background-color: #b5bcc4;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 15px;
  
}
#wallet {
  border-style: solid;
  display: none;
  width: 89%; 
  border: none;
  float: right; 
  background-color: #b5bcc4;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 15px;
}

#wallet tr:hover {
  background-color: white;
  color: #000;
}

#menu {
  border-style: solid;
  height: 700px; 
  width: 89%; 
  float: right; 
  background-color: #003366;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 9%;
  background-color: #284875;
  position: fixed;
  height: 100%;
  overflow: auto;
  }
  
  li {
    float: right;
    width: 100%;
    user-select: none;
    cursor: pointer;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;

  }
  
  li a:hover {
    background-color: #9dc6dd;
    color: black;
  }


  .form__field {
    
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #686464;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    }

#crypto {

  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;

}

#euro {

  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;

}

#crypto, #euro, #arrow {

  display: inline-block;
}

#submit {
  width: 200px;
  height: 35px;
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

#submit:hover {
  background-color: rgb(51, 196, 129);
}

#top-bar {
  background-color: #475883;
  height:50px;
  width:91%;
  position:absolute;
  left:9%;
}

#form-div {
  /* display: none; */
  position: fixed;
  top: 60px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  font-family: monospace;
  visibility: hidden;

}

