# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\barto\IdeaProjects\20-21-ai-projekt-lab3-projekt-ai-koscielniak-b-matusik-l\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
